@model IEnumerable<Blog.Domain.Project>

@{
    ViewBag.Title = "Мои проекты";
    Layout = "_Layout";
}

<div class="container">
    <h2>Мои проекты</h2>
    
    @if (User.IsInRole("Admin"))
    {
        <div class="d-flex justify-content-end">
            <a asp-action="Create" asp-controller="Projects">Добавить</a>
        </div>
    }
    
    <hr/>
    
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var project in Model)
        {
            <div class="col">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 h-lg-300 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">@project.CategoryName</strong>
                        <h4 class="mb-0">@project.Title</h4>
                        <p class="card-text mb-auto">
                            @project.Description
                        </p>
                        <a class="stretched-link" href="@project.LinkToSite">Перейти</a>
                    </div>
                    <div class="col-auto d-md-none d-none d-lg-block">
                        <img width="200" height="200" src="@project.LinkToImage" alt="Картинка"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
