@model Blog.PublicApi.Models.PostViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Model!.Post.Header;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/dark.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

<script>hljs.highlightAll();</script>

<div class="container">
@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    var notVisible = !Model.Post.IsVisible;
    var notYetVisible = Model.Post.IsVisible && Model.Post.PublishDate > DateTimeOffset.Now;
        
    if (notVisible || notYetVisible)
    {
        <div class="alert alert-danger mt-5 mb-5" role="alert">
            @if (notVisible)
            {
                <text>@Localizer["Blog entry is not publicly visible."]</text>
            }
            else if (notYetVisible)
            {
                <text>@Localizer["Blog entry will be become publicly visible on:"] @Model.Post.PublishDate.DateTime.ToShortDateString() @Model.Post.PublishDate.DateTime.ToShortTimeString()</text>
            }
        </div>
    }
}
        
<article class="mb-4">

    <partial name="_HeaderForEntry" model="@Model.Post"/>

    <div>
        @Html.Raw(Model.Post.Body)
    </div>

    @if (Model.Post.Files!.Count > 0)
    {
        <h2>@Localizer["Downloads"]</h2>

        <ul class="list-unstyled">
            @foreach (var file in Model.Post.Files)
            {
                <li>
                    <a href="~/Blog/Download/@file.Id">@file.Name</a>
                    <text>
                         (@file.Counter @Localizer["Downloads"])
                    </text>
                </li>
            }
        </ul>
    }
</article>
        
<hr class="mb-4"/>
        
@if (Model.RelatedPosts.Count > 0)
{
    <h2>@Localizer["Related posts"]</h2>
    <ul class="list-unstyled">
        @foreach (var entry in Model.RelatedPosts)
        {
            <li>
                <a asp-controller="Posts" asp-action="Entry" asp-route-year="@entry.PublishDate.Year" asp-route-month="@entry.PublishDate.Month" asp-route-day="@entry.PublishDate.Day" asp-route-id="@entry.PermanentLink">@entry.Header</a>
            </li>
        }
    </ul>
        
    <hr class="mb-4"/>
}
        
<h2 id="Comments">@Localizer["Comments"]</h2>
<form method="post" class="d-print-none">
    <div class="form-group">
        <label asp-for="Comment.Name"></label>
        <input class="form-control" asp-for="Comment.Name">
        <span asp-validation-for="Comment.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comment.Email"></label>
        <input class="form-control" asp-for="Comment.Email">
        <span asp-validation-for="Comment.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comment.Homepage"></label>
        <input class="form-control" asp-for="Comment.Homepage">
        <span asp-validation-for="Comment.Homepage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comment.Comment"></label>
        <textarea class="form-control" asp-for="Comment.Comment" rows="7"></textarea>
        <span asp-validation-for="Comment.Comment" class="text-danger"></span>
    </div>
    
    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
    </div>
</form>
 
<section id="comments">
    <div class="row">
        @foreach (var comment in Model.Post.Comments!.OrderByDescending(b => b.CreatedOn))
        {
            var adminPostClass = comment.AdminPost ? "text-danger" : string.Empty;
            
            <hr class="mt-4 mb-4"/>
            
            <div class="mt-4">
                <div class="d-flex justify-content-start align-items-center gap-4">
                    <i class="fa-solid fa-user fa-2x"></i>
                    <div>
                        <h3 class="@adminPostClass">@comment.Name</h3>
                        <span class="text-muted">
                            <i class="fas fa-calendar-alt"></i> @comment.CreatedOn.DateTime.ToShortDateString()
                            @if (comment.HomePage != null)
                            {
                                <br class="d-md-none"/>
                                <i class="fas fa-link ml-md-4"></i>
                                @comment.HomePage
                            }
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <br class="d-md-none"/>
                        
                                <span class="float-lg-right d-print-none">
                                    <a asp-controller="Posts" asp-action="DeleteComment" asp-route-commentId="@comment.Id" asp-route-back="@(Url.Action("Entry", "Posts", new { Model.Post.PermanentLink }))#comments" class="text-danger confirmdelete" data-confirmmessage="@Localizer["Really delete comment?"]"><i class="fas fa-trash"></i></a>
                                    <a asp-controller="Posts" asp-action="DeleteComment" asp-route-commentId="@comment.Id" asp-route-back="@Url.Action("Entry", "Posts", new { Model.Post.PermanentLink })#comments" class="text-danger confirmdelete" data-confirmmessage="@Localizer["Really delete comment?"]">@Localizer["Delete"]</a>
                                </span>
                            }
                        </span>
                    </div>
                </div>
                
                <p class="float-left mb-4" style="word-break: break-all;">@comment.Body</p>
            </div>
        }
    </div>
</section>

</div>


