@using Blog.Domain
@using Blog.Domain.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Blog.PublicApi.Models.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Blog entries"];
    ViewData["SelectedMenuItem"] = "BlogEntries";
    Layout = "_LayoutAdministration";
}

<a asp-controller="Administration" asp-action="EditBlog" class="btn btn-primary d-print-none mb-2"><i class="fa fa-file" aria-hidden="true"></i> @Localizer["New blog entry"]</a>

<form class="form-inline d-print-none mb-2" method="get">
    <div class="input-group input-group-sm mb-2 mr-sm-2">
        <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-search"></i></div>
        </div>
        <input asp-for="SearchTerm" class="form-control" placeholder="@Localizer["Search"]" />
    </div>
    <input type="hidden" name="@nameof(Model.Posts.Paging.Top)" value="@Model!.Posts!.Paging.Top" />
    <button type="submit" class="btn btn-primary btn-sm mb-2 mr-2">@Localizer["Filter"]</button>
    <button type="submit" name="Download" value="True" class="btn btn-success btn-sm mb-2"><i class="fa fa-file-excel" aria-hidden="true"></i> @Localizer["Download"]</button>
</form>

@if (Model.Posts.TotalNumberOfItems > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-sm">
            <colgroup>
                <col />
                <col style="width: 220px;" />
                <col style="width: 170px;" />
                <col style="width: 100px;" />
                <col style="width: 70px;" />
            </colgroup>
            <thead>
                <tr>
                    <th paged-result="Model.Blogs" sort-column="@nameof(Post.Header)">@Html.DisplayNameFor(m => m.Posts!.First().Header)</th>
                    <th paged-result="Model.Blogs" sort-column="@nameof(Post.PublishDate)">@Html.DisplayNameFor(m => m.Posts!.First().PublishDate)</th>
                    <th paged-result="Model.Blogs" sort-column="@nameof(Post.UpdateDate)">@Html.DisplayNameFor(m => m.Posts!.First().UpdateDate)</th>
                    <th paged-result="Model.Blogs" sort-column="@nameof(Post.VisitsNumber)" class="text-right">@Html.DisplayNameFor(m => m.Posts!.First().VisitsNumber)</th>
                    <th class="d-print-none"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var blogEntry in Model.Posts)
                {
                    <tr>
                        <td><a href="~/blog/@blogEntry.Url/edit">@blogEntry.Header</a></td>
                        <td class="text-right">@blogEntry.PublishDate.DateTime.ToShortDateString() @blogEntry.PublishDate.DateTime.ToShortTimeString()</td>
                        <td class="text-right">@blogEntry.UpdateDate.DateTime.ToShortDateString() @blogEntry.UpdateDate.DateTime.ToShortTimeString()</td>
                        <td class="text-right">@blogEntry.VisitsNumber</td>
                        <td class="text-right d-print-none">
                            <a href="~/Blog/@blogEntry.Url" title="Edit"><i class="fa fa-globe"></i></a>
                            <a href="~/Blog/@blogEntry.Url/Edit" title="Edit"><i class="fa fa-edit"></i></a>
                            <a asp-controller="Administration" asp-action="DeleteBlogEntry" asp-route-id="@blogEntry.Id" title="@Localizer["Delete"]" class="confirmdelete" data-confirmmessage="@Localizer["Really delete blog entry?"]"><i class="fa fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <pager paged-result="this.Model.Blogs"></pager>
}
else
{
    <p>@Localizer["No blog entries found"]</p>
}